<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

        <h1><%= title %></h1>

        <form class="form" method="POST">

            <div class="form-group">
                <lable for="nameTextFeild">Contact Name</lable>
                <input type="text" class="form-control"
                id = "nameTextFeild"
                placeholder="Enter the Contact Name"
                name="name" 
                value="<%= contact.name %>"
                required>
            </div>

            <div class="form-group">
                <lable for="numberTextFeild">Phone Number</lable>
                <input type="text" class="form-control"
                id = "numberTextFeild"
                placeholder="Enter the Contacts Phone Number"
                name="number" value="<%= contact.number %>" required>
            </div>

            <div class="form-group">
                <lable for="emailTextFeild">Email</lable>
                <input type="text" class="form-control"
                id = "emailTextFeild"
                placeholder="Enter the Contacts Email"
                name="email" value="<%= contact.email %>" required>
            </div>
            <br>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit</button>

            <a href="/contact-list" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
        </form>
    </div>
    </div>
</div>